# Semana 05

Oscar Elias Reyes Sanchez

# Temas:
1. Números
2. Variables
3. Manejo de cadenas
4. Ingreso de datos por teclado
5. Operadores

3. Manejo de cadenas

In [2]:
cadena = "Universidad Nacional Tecnologica de Lima Sur"
cadena

'Universidad Nacional Tecnologica de Lima Sur'

In [3]:
#Universidad Nacional Tecnologica de Lima Sur
#01234...........                        -2-1

In [4]:
cadena[5]

'r'

In [5]:
cadena[10]

'd'

In [6]:
# Tambien considera los espacios
cadena[11]

' '

In [7]:
# ¿Que me mostrara?
cadena [-5]

'a'

In [8]:
cadena [21]

'T'

In [9]:
#Tambien lo puedo mostrar accediendo de manera inversa
cadena[-23]

'T'

In [10]:
#Para mostrar un subcadena [desde, hasta una antes]
# En Java era substring()
cadena[3:8]

'versi'

In [11]:
#Para saber el tamaño de una cadena utilizamos len()
# incluye los espacios en blanco
len(cadena)

44

In [12]:
# Para mostrar una cadena en mayuscula utilizamos upper()
cadena.upper()

'UNIVERSIDAD NACIONAL TECNOLOGICA DE LIMA SUR'

In [13]:
#Ojo.. solo lo muestra porque la original sigue siendo igual
cadena

'Universidad Nacional Tecnologica de Lima Sur'

In [14]:
# Si desearas cambiarlo harías: cadena = cadena.upper()
cadena = cadena.upper()
cadena

'UNIVERSIDAD NACIONAL TECNOLOGICA DE LIMA SUR'

In [15]:
# Para mostrar una cadena en minusculas utilizamos lower()
cadena.lower()

'universidad nacional tecnologica de lima sur'

In [16]:
# Genera una lista a partir de una cadena. split()
cadena.split()

['UNIVERSIDAD', 'NACIONAL', 'TECNOLOGICA', 'DE', 'LIMA', 'SUR']

In [17]:
# Generar una lista utilizando un criterio de separacion a partir de una cadena. split()
# En este caso vamos a generar una lista de toda la cadena utilizando como criterio de separacion la letra
cadena.split("A")

['UNIVERSID', 'D N', 'CION', 'L TECNOLOGIC', ' DE LIM', ' SUR']

In [19]:
# Forma clasica, concatenar con +
nombre = "Elias Reyes"
print("Buenas tardes " + nombre)

Buenas tardes Elias Reyes

In [20]:
#Utilizando el .format()
nombre = "Oscar Elias"
edad = 21
print("Hola {} ya se que tienes {} años" . format(nombre, edad))

Hola Oscar Elias ya se que tienes 21 años

In [23]:
# Dar formato a números con muchos decimales
resultado = 10/3
print("10/3 es ={} ".format(resultado))
print("10/3 es = {r:1.3f} ".format(r=resultado))

10/3 es =3.3333333333333335
10/3 es = 3.333

In [24]:
# Dar formato con f
# La funcion f está disponible desde la version 3.6
nombre = "Pepito Suarez"
edad = 12
print(f"Buenos días {nombre}, ya se que tienes {edad} años")

Buenos días Pepito Suarez, ya se que tienes 12 años

In [26]:
#Dar  formato a número con  muchos decimales con f
resultado = 10/3
print(f"10/3 es = {resultado}")
print(f"10/3 es = {resultado:1.3f}")

10/3 es = 3.3333333333333335
10/3 es = 3.333